<% layout('layouts/boilerplate') %>
<h1>All picnic spots</h1>
<div>
    <a href="/picnic_ground/new">Click here for adding new Picnic Ground</a>
</div>

<ul>
    <!-- picnics is a database collection where we seeded n stored data -->
    <% for(let i of picnic_ground1){ %>
        <li><a href="/picnic_ground/<%=i._id%>"><%= i.title %></a></li>
    <% } %> 
</ul>