<% layout('layouts/boilerplate') %>
<form action="/picnic_ground" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="picnic[title]"> 
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="picnic[location]"> 
    </div>
    <button>Add Picnic Ground</button>
    <div>
        <a href="/picnic_ground">All campground</a>
    </div>
    
</form>